<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>

    <link rel="stylesheet" href="fonts/linearicons/style.css">
    <link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="vendor/date-picker/css/datepicker.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="wrapper">
    <div class="inner">
        <form action="">
            <h3>Formulario</h3>
            <div class="form-row">
                <div class="form-wrapper">
                    <label>Name *</label>
                    <input type="text" class="form-control" placeholder="Nombres">
                </div>

    <div class="inner">

            <div class="form-row">
                <div class="form-wrapper">
                    <label>dni</label>
                    <input type="text" class="form-control" placeholder="Apellidos">
                </div>

    <div class="inner">

            <div class="form-row">
                <div class="form-wrapper">
                    <label>last_name</label>
                    <input type="text" class="form-control" placeholder="documento">
                </div>

    <div class="inner">

            <div class="form-row">
                <div class="form-wrapper">
                    <label>place of birth</label>
                    <input type="text" class="form-control" placeholder="Lugar de nacimiento">
                </div>

    <div class="inner">

            <div class="form-row">
                <div class="form-wrapper">
                    <label>email</label>
                    <input type="email" class="form-control" placeholder="correo">
                </div>
                <div class="inner">

            <div class="form-row">
                <div class="form-wrapper">
                    <label>date</label>
                    <input type="date" class="form-control" placeholder="fecha de nacimmiento">
                </div>

    <div class="inner">

            <div class="form-row">
                <div class="form-wrapper">
                    <label>phone</label>
                    <input type="number" class="form-control" placeholder="telefono">
                </div>

    <div class="inner">

            <div class="form-row">
                <div class="form-wrapper">
                    <label>password</label>
                    <input type="password" class="form-control" placeholder="contraseña">
                </div>
                <div class="inner">

            <div class="form-row">
                <div class="form-wrapper">
                    <label>Confirm password</label>
                    <input type="password" class="form-control" placeholder="Confirmar contraseña">
                </div>

    <div class="inner">
            <div class="form-row">
                    <label>place of residence</label>
                    <input type="text" class="form-control" placeholder="lugar de residencia">
                </div>

         </form>

    </div>



</div>




</body>
</html>